.Principal-testimonial {
  width: 18rem;
  display: flex;
  margin-top: 1rem;
  flex-wrap: wrap;
  margin-inline: auto;
  flex-direction: column;
  border-radius: 0.5rem;
}

img {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

img:hover {
  transform: scale(1.085);
  filter: opacity(0.85);
}

.Contenedor-testimonial {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  overflow: hidden;
  border-radius: 0.3rem;
  margin: 1.1rem 0;
  padding-block: 0 0.5rem;
  flex-direction: column;
  background-color: white;
}

.Nombre-testimonial {
  font-size: 1.3rem;
  margin-block: 1rem 0.2rem;
  text-align: center;
  color: rgb(61, 61, 61);
  font-weight: bold;
}

.Nombre-testimonial p > span {
  font-weight: normal;
}

.Cargo-testimonial {
  text-align: center;
  font-size: 0.85rem;
  margin-block: 0.1rem;
}

.Cargo-testimonial p > span {
  font-weight: bolder;
}

.Texto-testimonial {
  margin-block: 0.2rem;
  padding: 1rem 1.2rem;
  text-align: justify;
  font-size: 1rem;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {
  .Principal-testimonial {
    width: 25rem;
    margin-top: 2rem;
  }

  .Contenedor-testimonial {
    margin: 1.1rem 0;
    padding-block: 0 0.5rem;
  }

  .Nombre-testimonial {
    font-size: 1.5rem;
    margin-block: 1.2rem 0.5rem;
  }

  .Cargo-testimonial {
    font-size: 1rem;
  }

  .Texto-testimonial {
    padding: 1rem 1.5rem;
    font-size: 1.03rem;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
  .Principal-testimonial {
    width: 30rem;
    margin-top: 2.5rem;
  }

  .Contenedor-testimonial {
    padding: 0;
  }

  .Nombre-testimonial {
    font-size: 1.7rem;
    margin-block: 1.2rem 0.5rem;
  }

  .Cargo-testimonial {
    font-size: 1.05rem;
  }

  .Texto-testimonial {
    padding: 1rem 1.5rem;
    font-size: 1.08rem;
  }
}

/* Medium devices (tablets, less than 800dpx) */
@media (min-width: 800px) {
  .Principal-testimonial {
    width: 40rem;
  }

  img {
    width: 45%;
  }

  .Contenedor-testimonial {
    flex-direction: row;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
  .Principal-testimonial {
    width: 50rem;
    margin-top: 2.5rem;
  }

  img {
    width: 45%;
  }

  .Contenedor-testimonial {
    flex-direction: row;
  }

  .Nombre-testimonial {
    font-size: 1.7rem;
    margin-block: 1.2rem 0.5rem;
  }

  .Cargo-testimonial {
    font-size: 1.05rem;
  }

  .Texto-testimonial {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) {
  .Contenedor-testimonial:nth-child(2) {
    flex-direction: row-reverse;
  }
}
